<h1>Select a list</h1>

<ul>
<%= for grocery_list <- @grocery_lists do %>
  <li>
    <%= button grocery_list.name, to: Routes.grocery_list_path(@conn, :add_ingredient, grocery_list.id, @ingredient_id) %>
  </li>
<% end %>
</ul>
<%= if @grocery_lists == [] do %>
<h2>
  Oops, it looks like you do not have any lists yet. You can <%= link "Add a List", to: Routes.grocery_list_path(@conn, :new) %>
</h2>
<% end %>

<span><%= link "Back", to: Routes.grocery_list_path(@conn, :index) %></span>
