<h1><%= @grocery_list.name %></h1>

<%= form_for @conn, Routes.search_path(@conn, :search, ingredients: true, usda: true, for: :groceries, id: @grocery_list.id), fn f -> %>
  <%= label f, :add_ingredient %>
  <div class="search">
    <%= text_input f, :terms %>
    <button type="submit"><span class="grey">🔍</span></button>
  </div>
<% end %>

<%= if @grocery_list.ingredients != [] do %>
<p>Ingredients:</p>
<ul>
<%= for ingredient_grocery_list <- @grocery_list.ingredient_grocery_lists do %>
  <li>
    <%= button "-", to: Routes.grocery_list_path(@conn, :remove_ingredient, @grocery_list.id, ingredient_grocery_list.ingredient.id), method: :delete, class: "btn-tiny" %>
    <%= link ingredient_grocery_list.ingredient.name, to: Routes.ingredient_path(@conn, :show, ingredient_grocery_list.ingredient) %>
  </li>
<% end %>
</ul>
<% end %>

<%= render_markdown @grocery_list.note %>

<span><%= link "Edit", to: Routes.grocery_list_path(@conn, :edit, @grocery_list) %></span>
<span><%= link "Back", to: Routes.grocery_list_path(@conn, :index) %></span>
