<div class="mb-4 text-6xl">
  <%= String.capitalize(@usda.description) %>
</div>

<div class="max-w-xs border-black border-2 px-2">
  <div class="text-3xl font-black border-b-8 border-black">NUTRITION FACTS</div>

  <div class="text-3xl font-black flex justify-between border-b-4 border-black">
    <div>Calories</div>
    <div class="right"><%= String.trim(@nutrients["Energy"], "kcal") %></div>
  </div>

  <div class="divide-y divide-black border-b-8 border-black">
    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Total Fat</span>
      <%= @nutrients["Total lipid (fat)"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="pl-4">Saturated Fat</span>
      <%= @nutrients["Fatty acids, total saturated"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="pl-4"><span class="italic">Trans</span> Fat</span>
      <%= @nutrients["Fatty acids, total trans"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Cholesterol</span>
      <%= @nutrients["Cholesterol"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Sodium</span>
      <%= @nutrients["Sodium, Na"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Total Carbohydrates</span>
      <%= @nutrients["Carbohydrate, by difference"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="pl-4">Dietary Fiber</span>
      <%= @nutrients["Fiber, total dietary"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="p-4">Total Sugars</span>
      <%= @nutrients["Sugars, total including NLEA"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between border-b-8 border-black">
      <div>
      <span class="font-black">Protein</span>
      <%= @nutrients["Protein"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>
  </div>

  <div class="divide-y divide-black">
    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Calcium</span>
      <%= @nutrients["Calcium, Ca"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Iron</span>
      <%= @nutrients["Iron, Fe"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Vitamin A</span>
      <%= @nutrients["Vitamin A, IU"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>

    <div class="text-xl flex justify-between">
      <div>
      <span class="font-black">Vitamin C</span>
      <%= @nutrients["Vitamin C, total ascorbic acid"] %>
      </div>
      <div>
      <!-- % DV -->
      </div>
    </div>
</div>
