<h1>Conversions</h1>

<h2>Volumetric</h2>
<p>8oz to a cup</p>
<p>16 tablespoons to a cup</p>
<p>3 teaspoons to a tablespoon</p>
<p>48 teaspoons to a cup</p>

<h2>Weight</h2>
<p>28.35 grams to an ounce (approx)</p>
