<h1>Categories</h1>

<%= if @current_user && @current_user.is_admin do %>
<h4>
  <%= link "+ New Category", to: Routes.category_path(@conn, :new) %>
</h4>
<% end %>

<%= for {category, recipes} <- @top_categories do %>
<div class="text-4xl">
  <%= String.capitalize(category.name) %>
</div>

<%= render(RelaxirWeb.RecipeView, "recipe_list.html", current_user: @current_user, recipes: recipes, conn: @conn, show: false) %>
<% end %>
