<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Relaxir · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav class="navigation" role="navigation">
          <label class="hamburger" data-menu-toggle for="hamburger-toggle">
            🍔
          </label>
          <input id="hamburger-toggle" type="checkbox" />

          <section class="full-menu">
            <ul class="navigation-list">
              <li class="navigation-item">
                <a href="/" title="Recipes">Recipes</a>
              </li>
              <li class="navigation-item">
                <a href="/ingredients" title="Ingredients">Ingredients</a>
              </li>
              <li class="navigation-item">
                <a href="/categories" title="Categories">Categories</a>
              </li>
              <li class="navigation-item">
                <a href="/search" title="Search">Search</a>
              </li>
              <li class="navigation-item">
                <a href="/tools" title="Tools">Tools</a>
              </li>
              <%= if @conn.assigns[:current_user] do %>
                <li class="navigation-item">
                  <a href="/recipelists" title="Recipe Lists">Recipe Lists</a>
                </li>
                <li class="navigation-item">
                  <a href="/grocerylists" title="Grocery Lists">Grocery Lists</a>
                </li>
                <li class="navigation-item">
                  <a href="/inventorylists" title="Inventory Lists">Inventory Lists</a>
                </li>
                <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
                  <li class="navigation-item"><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
                <% end %>
              <% end %>
              <%= render "_user_menu.html", assigns %>
            </ul>
          </section>
        </nav>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
