<h1>Ingredients</h1>

<%= if @current_user && @current_user.is_admin do %>
<h4>
  <%= link "+ New Ingredient", to: Routes.ingredient_path(@conn, :new) %>
</h4>
<% end %>

<%= for ingredient <- @ingredients do %>
<h4>
  <%= link String.capitalize(ingredient.name), to: Routes.ingredient_path(@conn, :show, ingredient) %>
  <span><%= button "+", to: Routes.ingredient_path(@conn, :select_list, ingredient), method: :get, class: "btn-tiny" %></span>
</h4>
<% end %>
