<h1>Select a list</h1>

<ul>
<%= for recipe_list <- @recipe_lists do %>
  <li>
    <%= button recipe_list.name, to: Routes.recipe_list_path(@conn, :add_recipe, recipe_list.id, @recipe_id) %>
  </li>
<% end %>
</ul>
<%= if @recipe_lists == [] do %>
<h2>
  Oops, it looks like you do not have any lists yet. You can <%= link "Add a List", to: Routes.recipe_list_path(@conn, :new) %>
</h2>
<% end %>

<span><%= link "Back", to: Routes.recipe_list_path(@conn, :index) %></span>
