<h1><%= @recipe_list.name %></h1>

<%= form_for @conn, Routes.search_path(@conn, :search, recipes: :true, for: :recipes, id: @recipe_list.id), fn f -> %>
  <div class="search">
    <%= text_input f, :terms %>
    <button type="submit"><span class="grey">🔍</span></button>
  </div>
<% end %>

<%= if @recipe_list.recipes != [] do %>
<p>Recipes:</p>
<ul>
<%= for recipe_recipe_list <- @recipe_list.recipe_recipe_lists do %>
  <li>
    <%= button "-", to: Routes.recipe_list_path(@conn, :remove_recipe, @recipe_list.id, recipe_recipe_list.recipe.id), method: :delete, class: "btn-tiny" %>
    <%= link recipe_recipe_list.recipe.title, to: Routes.recipe_path(@conn, :show, recipe_recipe_list.recipe) %>
  </li>
<% end %>
</ul>
<% end %>

<span><%= link "Edit", to: Routes.recipe_list_path(@conn, :edit, @recipe_list) %></span>
<span><%= link "Back", to: Routes.recipe_list_path(@conn, :index) %></span>
