<%= form_for @conn, Routes.search_path(@conn, :search, @conn.query_params), fn f -> %>
  <%= label f, "Search" %>
  <div class="search">
    <%= text_input f, :terms %>
    <button type="submit"><span class="grey">🔍</span></button>
  </div>
  <div class="search-checkboxes">
      <%= checkbox f, :recipes, value: @checkboxes.recipes, class: "hidden checkbox" %>
      <%= label f, :recipes, class: "button toggle-button" %>
      <%= checkbox f, :categories, value: @checkboxes.categories, class: "hidden checkbox" %>
      <%= label f, :categories, class: "button toggle-button" %>
      <%= checkbox f, :ingredients, value: @checkboxes.ingredients, class: "hidden checkbox" %>
      <%= label f, :ingredients, class: "button toggle-button" %>
      <%= checkbox f, :usda, value: @checkboxes.usda, class: "hidden checkbox" %>
      <%= label f, :usda, class: "button toggle-button" %>
      </td>
  </div>
<% end %>

<%= case @count do %>
  <% :na -> %>
  <% 0 -> %><p>No results found<p>
  <% _ -> %><p><%= @count %> results found</p>
<% end %>

<%= for {category, results} <- @results do %>
  <%= if length(results) > 0 do %>
    <h2><%= String.capitalize(category) %></h2>
  <% end %>

  <%= for {[result, id], _} <- results do %>
    <%= if route_exists("#{category}/#{id}") and id != nil do %>
      <p>
      <%= if category == "recipes" do %>
        <%= if @for == "recipes" do %>
          <%= if @list_id == nil do %>
            <span><%= link "+", to: Routes.recipe_list_path(@conn, :select_list, id), method: :get, class: "btn-tiny" %></span>
          <% else %>
            <span><%= button "+", to: Routes.recipe_list_path(@conn, :add_recipe, @list_id, id), class: "btn-tiny" %></span>
          <% end %>
        <% else %>
          <span><%= link "+", to: Routes.recipe_list_path(@conn, :select_list, id), method: :get, class: "btn-tiny button" %></span>
        <% end %>
      <% end %>

      <%= if category == "ingredients" do %>
        <%= if @list_id != nil do %>
          <%= case @for do %>
          <% "groceries" -> %>
            <span><%= button "+", to: Routes.grocery_list_path(@conn, :add_ingredient, @list_id, id), class: "btn-tiny button" %></span>
          <% "inventories" -> %>
            <span><%= button "+", to: Routes.inventory_list_path(@conn, :add_ingredient, @list_id, id), class: "btn-tiny button" %></span>
          <% end %>
        <% else %>
          <span><%= link "+", to: Routes.ingredient_path(@conn, :select_list, id, for: @for), method: :get, class: "btn-tiny button" %></span>
        <% end %>
      <% end %>
      <%= link result, to: "#{category}/#{id}"%>
      </p>
    <% else %>
      <p>
        <%= if category == "usda" do %>
          <%= if @list_id do %>
          <span><%= button "+", to: Routes.ingredient_path(@conn, :create, ingredient: %{"name" => result}, for: @for, list_id: @list_id), class: "btn-tiny" %></span>
          <% else %>
          <span><%= button "+", to: Routes.ingredient_path(@conn, :create, ingredient: %{"name" => result}, for: @for, list_id: @list_id), class: "btn-tiny" %></span>
          <% end %>
        <% end %>
        <%= result %>
      </p>
    <% end %>
  <% end %>
<% end %>
