<div class="text-4xl mb-8">Tools</div>

<div class="space-y-2">
    <div class="text-lg">
        <.link href="/tools/dishers"%>
            Disher Size Charts
        </.link>
    </div>
    <div class="text-lg">
        <.link href="/tools/conversions">
            Common measurement conversions
        </.link>
    </div>
</div>
