<h2>Search</h2>

<input type="text" phx-keyup="search" phx-debounce="500" value={@query} />

<%= case @count do %>
  <% nil -> %>
  <% 0 -> %><p>No results found<p>
  <% _ -> %><p><%= @count %> results found</p>
<% end %>

<%= for {category, results} <- @results do %>
<h3><%= String.capitalize(category) %></h3>
<ul>
  <%= for result <- results do %>
    <li id={"search-#{result.id}"}>
      <%= link result.value, to: "#{category}/#{result.id}" %>
    </li>
  <% end %>
</ul>
<% end %>
