<h1>Recipes</h1>

<%= if @current_user && @current_user.is_admin do %>
<h4>
  <%= link "+ New Recipe", to: Routes.recipe_path(@conn, :new) %>
</h4>
<% end %>

<%= for recipe <- @recipes do %>
<h4>
  <%= link recipe.title, to: Routes.recipe_path(@conn, :show, recipe) %> 
</h4>
<% end %>
